<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="assets/images/brain.png" class="w-auto h-14 text-black p-2">
            <span class="ml-3 text-xl text-black p-2">Newsview AI</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-black text-slate-700" [routerLink]="['']">Home</a>
            <a class="mr-5 hover:text-black text-slate-700" [routerLink]="['/search']">Search</a>
            <a class=" mr-5 hover:text-black text-slate-700" [routerLink]="[ '/query']">Query</a>

        </nav>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" (click)="auth.logout({ returnTo: document.location.origin })">Logout
            </button>
        </ng-container>
        <ng-template #loggedOut>
            <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" (click)="auth.loginWithRedirect()">Login
            </button>
        </ng-template>
    </div>
</header>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
            <div class="w-full sm:p-4 px-4 mb-6">
                <h1 class="title-font font-medium text-xl mb-2 text-gray-900">{{article.title}}</h1>
            </div>
            <hr>
            <div class="w-full sm:p-4 px-4 mb-6">
                <h2 class="title-font font-medium text-xl mb-2 text-gray-900">Sentiment Analysis</h2>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <p class="title-font font-medium text-m text-gray-900">{{article.sentimentAnalysis.sentiment.label}}, {{article.sentimentAnalysis.sentiment.score*100 | number}}%
                </p>
                <h4 class="leading-relaxed">Sentiments</h4>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <div *ngFor="let item of article.sentimentAnalysis.keywords">
                    <p class="title-font font-medium text-m text-gray-900">{{item.text}},</p>
                    <!-- </p> {{item.emotion}}, {{item.score}} -->
                </div>
                <h4 class="leading-relaxed">Keywords</h4>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <div *ngFor="let item of article.sentimentAnalysis.categories">
                    <p class="title-font font-medium text-m text-gray-900">{{item.label}},</p>
                    <!-- {{item.score}}</p> -->
                </div>
                <h4 class="leading-relaxed">Categories</h4>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <div *ngFor="let item of article.sentimentAnalysis.entities">
                    <p class="title-font font-medium text-m text-gray-900">{{item.type}},</p>
                    <!-- {{item.text}}, {{item.confidence}}, {{item.emotion}}, {{item.results.score}} -->
                </div>
                <h4 class="leading-relaxed">Entities</h4>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2" *ngIf="article.sentimentAnalysis.targets!=null">
                <div *ngFor="let item of article.sentimentAnalysis.targets">
                    <p class="title-font font-medium text-m text-gray-900">{{item.text}},{{item.emotion}},</p>
                </div>
                <h2 class="leading-relaxed">Targets</h2>
            </div>
            <hr>
            <div class="w-full sm:p-4 px-4 mb-6">
                <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Tone Anaysis</h1>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <div *ngFor="let item of article.tonesAnalysis.documentTone.toneScores">
                    <p class="title-font font-medium text-m text-gray-900">{{item.toneName}},</p>
                </div>
                <h2 class="leading-relaxed">Document Tones
                </h2>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <div *ngFor="let item of article.tonesAnalysis.sentenceTones">
                    <p class="title-font font-medium text-3xl text-gray-900">{{item.text}},{{item.toneScores}}</p>
                </div>
                <h2 class="leading-relaxed">Sentence Tones</h2>
            </div>
            <hr>
            <div class="w-full sm:p-4 px-4 mb-6">
                <p>by:{{article.author}}</p>
                <p>Published on:{{article.publishedDate}}</p>
                <a [href]="article.urlPath"></a>
                <div class="leading-relaxed">{{article.description}}</div>
            </div>
        </div>
        <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
            <img class="object-cover object-center w-full h-full" [src]="article.imagePath" alt="stats" (error)="updateUrl($event)">
        </div>
    </div>
</section>